# secrets and local env
.env

# python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# node
node_modules/
dist/
playwright-report/
test-results/

# os / editor
.DS_Store
.idea/
.vscode/
